{% extends "base.html" %}

{% block CSS_Link %}

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

{% endblock %}

{% block main-content %}

        <!--body wrapper start-->
        <div class="wrapper">
<!------------------------------------------------------------------------------------------------->
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            发送终端列表
            <span class="tools pull-right">    <!-- 下缩箭头及关闭按键 -->
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table class="display table table-bordered" id="hidden-table-info1">
        <thead>
        <tr>
            <th>编号</th>
            <th>IP</th>
            <th class="hidden-phone">MAC地址</th>
            <th class="hidden-phone">状态</th>
            <th class="hidden-phone">权限</th>
        </tr>
        </thead>
        <tbody>

        {% for post in post_list %}
            {% if post.node_Type == 'Host' %}
                <tr class="gradeC">
                    <td>{{post.node_Num}}</td>
                    <td>{{post.node_IP}}</td>
                    <td class="hidden-phone"> {{post.node_MAC}} </td>
                    <td class="center hidden-phone"> {{post.node_Status}} </td>
                    <td class="center hidden-phone">{{post.node_Power}}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
        </table>

        </div>
        </div>
        </section>
        </div>
        </div>
<!------------------------------------------------------------------------------------------------->
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            接收终端列表
            <span class="tools pull-right">    <!-- 下缩箭头及关闭按键 -->
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
        <table class="display table table-bordered" id="hidden-table-info2">
        <thead>
        <tr>
            <th>编号</th>
            <th>IP</th>
            <th class="hidden-phone">MAC地址</th>
            <th class="hidden-phone">类型</th>
            <th class="hidden-phone">权限</th>
        </tr>
        </thead>
        <tbody>

        {% for post in post_list %}
            {% if post.node_Type == 'Client' %}
                <tr class="gradeC">
                    <td>{{post.node_Num}}</td>
                    <td>{{post.node_IP}}</td>
                    <td class="hidden-phone"> {{post.node_MAC}} </td>
                    <td class="center hidden-phone"> {{post.node_Status}} </td>
                    <td class="center hidden-phone">{{post.node_Power}}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
        </table>

        </div>
        </div>
        </section>
        </div>
        </div>

        </div>
        <!--body wrapper end-->

{% endblock %}

{% block JS_Fun %}

    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
    <!--dynamic table initialization -->
    <script src="js/dynamic_table_init.js"></script>

    <script>
        $(function(){
            $('#table_refresh').click(function(){
                $.ajax({
                    'url':'/index',
                    'dateType':'json'
                    }).success(function(date){

                })
            })
        })
    </script>

{% endblock %}
