{% extends "base.html" %}

<!------------------------------------------------------------------->

{% block CSS_Link %}
    <link href="css/roomManage.css" rel="stylesheet" />
{% endblock %}

<!------------------------------------------------------------------->

{% block main-content %}

<div class="node_list">
    {% for post in post_list %}
        {% if post.node_Type == 'Client' %}
        <div class="node_cell" id="RX_{{post.node_Num}}" draggable="true"> Rx_00{{post.node_Num}} </div>
        {% endif %}
    {% endfor %}
</div>

<div class="room_div">

    <div class="drop_div">
        <div> 一级权限 </div>
    </div>

    <div class="drop_div">
        <div> 二级权限 </div>
    </div>
</div>

{% endblock %}

<!------------------------------------------------------------------>

{% block JS_Fun %}

<script src="js/room-Manage.js"></script>

{% endblock %}

