{% extends "base.html" %}

<!------------------------------------------------------------------->

{% block CSS_Link %}
    <link href="css/roomManage.css" rel="stylesheet" />
{% endblock %}

<!------------------------------------------------------------------->

{% block main-content %}

<div class="room_div">

    <div class="drop_div">
        <li class="ele" id="test" draggable="true" onmousemove="show(event);">1</li>
    </div>

    <div class="drop_div">

    </div>



    <p class="debug_text" id="before_text"> before_text </p>
    <p class="debug_text" id="before_margin_text"> before_margin_text </p>

    <p class="debug_text" id="after_text"> after_text </p>
    <p class="debug_text" id="after_margin_text"> after_margin_text </p>

    <p class="debug_text" id="offset_text"> offset_text </p>
</div>

{% endblock %}

<!------------------------------------------------------------------>

{% block JS_Fun %}

<script src="js/room-Manage.js"></script>

{% endblock %}

